<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/cssCh4/styleCh4.css" />

    <title>Challenge Chapter 4 | Ivat Fadhlu</title>
  </head>
  <body>
    <div id="page" class="page">
      <span class="back"><a href="/backtohome"><img src="/imgCh4/logout.png" style="width: 67x; height: 67px"></span></a>
      <span class="logo"></span>
      <span class="rockPaper">ROCK PAPER SCISSORS</span><br /><br />
      <span class="playerSatu">PLAYER 1</span>
      <span class="computer">COM</span>

      <!-- opsipemain -->
      <div class="optionPlayerSatu">
        <ul>
          <li class="optionBatu"></li>
          <li class="optionKertas"></li>
          <li class="optionGunting"></li>
        </ul>
      </div>

      <!-- result game -->
      <div id="result">
        <span class="vs">VS</span>
        <div>
          <span class="playerWin">PLAYER<br />WIN!</span>
          <span class="comWin">COMPUTER<br />WIN!</span>
          <span class="draw">DRAW!</span>
        </div>
      </div>

      <!-- hero tengah -->
      <div id="refresh" class="refresh"></div>

      <!-- opsikomputer -->
      <div id="comOption" class="optionComputer">
        <ul>
          <li class="optionBatu2"></li>
          <li class="optionKertas2"></li>
          <li class="optionGunting2"></li>
        </ul>
      </div>
    </div>
    <script>
      alert("Login Berhasil!");
    </script>    
    <script src="play.js"></script>
  </body>
</html>

